# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

*                                      @boundless-xyz/maintainers @capossele @Wollac @zeroecco @austinabell @willemolding
/docs/                                 @boundless-xyz/maintainers @capossele @Wollac @zeroecco @austinabell @willemolding
