# Default anvil node and order stream endpoint
export RPC_URL="http://localhost:8545"
export ORDER_STREAM_URL="http://localhost:8585"

### Contracts ###
# This will be copied to .env.localnet and filled with `just localnet`

export VERIFIER_ADDRESS=
export SET_VERIFIER_ADDRESS=
export BOUNDLESS_MARKET_ADDRESS=
export HIT_POINTS_ADDRESS=

### Wallets private keys ###
# Note: This is a funded address by default with anvil test configuration (index 3).

export PRIVATE_KEY="0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6"
export ADDRESS="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
