.cayql {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5715;
  font-weight: 500;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.vocs_DocsLayout_gutterTop {
  @apply bg-transparent
}

.vocs_DesktopSearch_search {
  @apply hidden;
}

.cayql {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 11px;
  padding-bottom: 11px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.cc8v2 {
  pointer-events: none
}

.ckk6a {
  left: 0px;
  right: 0px
}

.cy2uf {
  left: 200px;
  right: 200px
}

.c0zts {
  left: 300px;
  right: 300px
}

.c0u45 {
  top: 0px;
  bottom: 0px
}

.cxj7m {
  top: -8rem
}

.cvros {
  bottom: 0px
}

.c82xa {
  left: 50%
}

.cvd4p {
  top: 0px
}

.ciebj {
  top: 50%
}

.cfkl5 {
  top: 420px
}

.cinxm {
  top: 640px
}

.ci34p {
  z-index: 0
}

.cgn13 {
  order: -9999
}

.cqcwp {
  margin-left: auto;
  margin-right: auto
}

.c2l8u {
  margin-left: -300px
}

.cnv5k {
  margin-bottom: 1rem
}

.cruyu {
  margin-bottom: 1.5rem
}

.c60f3 {
  margin-bottom: 2rem
}

.cr1y2 {
  margin-left: 0.25rem
}

.cvizd {
  margin-left: 380px
}

.cscpp {
  margin-left: 580px
}

.c0rh9 {
  height: 3rem
}

.cc61o {
  height: 4rem
}

.ci2lm {
  height: 5rem
}

.c61hs {
  height: 6rem
}

.c5uon {
  height: 20rem
}

.cahd5 {
  height: 324px
}

.cmce1 {
  height: 1px
}

.crocn {
  min-height: 100vh
}

.cr97w {
  width: 3rem
}

.ct4tf {
  width: 4rem
}

.cju07 {
  width: 5rem
}

.cfonf {
  width: 6rem
}

.czfz1 {
  width: 20rem
}

.c07cc {
  width: 100%
}

.cr0pe {
  width: 1px
}

.c441s {
  max-width: 48rem
}

.cxbfd {
  max-width: 72rem
}

.c13of {
  max-width: none
}

.c6dyc {
  max-width: 20rem
}

.c7fsb {
  flex-grow: 1
}

.c38j2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c1fmc {
  --tw-translate-x: -136px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cgj8i {
  --tw-translate-x: -216px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c3kcn {
  --tw-translate-x: -292px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cao07 {
  --tw-translate-y: -82px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.czing {
  --tw-translate-x: 136px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cd2xo {
  --tw-translate-x: 216px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c782f {
  --tw-translate-x: 292px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cufgj {
  --tw-translate-y: 82px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.czmvk {
  --tw-rotate: -20deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cozp9 {
  --tw-rotate: 20deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ch07w {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ce1bf {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cj4vu {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c3mi3 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.cf2in {
  animation: breath 6s ease-in-out 1.5s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.cimwk {
  animation: breath 6s ease-in-out 2.5s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.cdnce {
  animation: breath 6s ease-in-out 2s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.cb1mz {
  animation: breath 6s ease-in-out 3.5s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.ckf6a {
  animation: breath 6s ease-in-out 4s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.c2kdw {
  animation: breath 7s ease-in-out 3.5s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.cv954 {
  animation: breath 7s ease-in-out 3s infinite both
}

@keyframes breath {

  0%,
  100% {
    transform: scale(0.95)
  }

  50% {
    transform: scale(1.1)
  }
}

.c509s {
  animation: breath 8s ease-in-out infinite both
}

@keyframes code-1 {
  0% {
    opacity: 0
  }

  2.5% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes code-2 {
  16.2% {
    opacity: 0
  }

  18.75% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes code-3 {
  32.5% {
    opacity: 0
  }

  35% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes code-4 {
  48.75% {
    opacity: 0
  }

  51.25% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes code-5 {
  65% {
    opacity: 0
  }

  72.5% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes code-6 {
  81.25% {
    opacity: 0
  }

  83.75% {
    opacity: 1
  }

  97.5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5%)
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5%)
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5%)
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5%)
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

.cl8ef {
  flex-direction: column
}

.cdrow {
  align-items: center
}

.cxbhj {
  justify-content: center
}

.overflow-hidden {
  overflow: hidden
}

.csv9q {
  border-radius: 9999px
}

.c3ytk {
  border-width: 1px
}

.chf5m {
  border-top-width: 1px;
  border-bottom-width: 1px
}

.cf84e {
  border-color: rgb(229 231 235/0.6)
}

.csjju {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.cgwj6 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cm27f {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.c7pbn {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.cnky1 {
  background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.cwgyo {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops))
}

.cmxwm {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cfdqu {
  --tw-gradient-from: #2563eb var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(37 99 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c2zxn {
  --tw-gradient-from: #e5e7eb var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(229 231 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cev45 {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c1xou {
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(59 130 246 / 0.6) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.cniyu {
  --tw-gradient-to: rgb(229 231 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e5e7eb var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.c8tf8 {
  --tw-gradient-to: #3b82f6 var(--tw-gradient-to-position)
}

.cx349 {
  --tw-gradient-to: #111827 var(--tw-gradient-to-position)
}

.cedzu {
  --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.cnbzd {
  background-size: 100% 100%
}

.cw1xo {
  background-position: bottom
}

.c4ow8 {
  fill: #3b82f6
}

.cn7jq {
  padding-left: 1rem;
  padding-right: 1rem
}

.cb4uz {
  padding-bottom: 3rem
}

.cbgts {
  padding-top: 8rem
}

.headline-text {
  @apply relative z-10;
}

.cczaz {
  text-align: center
}

.c9s5u {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.037em
}

.cprne {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.017em
}

.cep6s {
  font-weight: 700
}

.ck2l5 {
  letter-spacing: 0em
}

.cbyl4 {
  letter-spacing: -0.025em
}

.ck05u {
  --tw-text-opacity: 1;
  color: rgb(147 197 253/var(--tw-text-opacity))
}

.ce0zw {
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity))
}

.c3ns1 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55/var(--tw-text-opacity))
}

.ctwbb {
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity))
}

.cnbyk {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.c8l5g {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.cio1t {
  opacity: 0
}

.c8bnb {
  opacity: 1
}

.co8qp {
  opacity: 0.4
}

.ca7zz {
  opacity: 0.5
}

.cxju3 {
  mix-blend-mode: multiply
}

.cwq93 {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.cwoyc {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.cy259 {
  --tw-shadow-color: rgb(0 0 0 / 0.03);
  --tw-shadow: var(--tw-shadow-colored)
}

.cjgwc {
  --tw-blur: blur(160px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cwcpl {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ceifv {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.coclo {
  transition-duration: 300ms
}

#main-layout {
  @apply absolute left-0 right-0 top-0;
}

.cuwe0 {
  transition-duration: 700ms
}

.crmdp {
  transition-timing-function: cubic-bezier(0.38, 0, 0.32, 1)
}

.cjxwv {
  will-change: filter
}

.cqzis {
  -o-border-image: linear-gradient(to right, transparent, rgb(203 213 225/.8), transparent)1;
  border-image: linear-gradient(to right, transparent, rgb(203 213 225/.8), transparent)1
}

.c2xfw::before {
  content: var(--tw-content);
  position: absolute
}

.c2mkf::before {
  content: var(--tw-content);
  inset: -0.75rem
}

.cnbst::before {
  content: var(--tw-content);
  inset: 0px
}

.csljt::before {
  content: var(--tw-content);
  top: 0px;
  bottom: 0px
}

.c9x43::before {
  content: var(--tw-content);
  margin: 8.334%
}

.c1hbo::before {
  content: var(--tw-content);
  width: 6rem
}

@keyframes line {

  0%,
  100% {
    content: var(--tw-content);
    left: 0;
    opacity: 0
  }

  50% {
    content: var(--tw-content);
    left: 100%;
    transform: translateX(-100%)
  }

  10%,
  40%,
  60%,
  90% {
    content: var(--tw-content);
    opacity: 0
  }

  25%,
  75% {
    content: var(--tw-content);
    opacity: 1
  }
}

.crjfc::before {
  content: var(--tw-content);
  animation: line 10s ease-in-out infinite 5s both
}

@keyframes line {

  0%,
  100% {
    content: var(--tw-content);
    left: 0;
    opacity: 0
  }

  50% {
    content: var(--tw-content);
    left: 100%;
    transform: translateX(-100%)
  }

  10%,
  40%,
  60%,
  90% {
    content: var(--tw-content);
    opacity: 0
  }

  25%,
  75% {
    content: var(--tw-content);
    opacity: 1
  }
}

.clxah::before {
  content: var(--tw-content);
  animation: line 10s ease-in-out infinite both
}

@keyframes pulse {
  50% {
    content: var(--tw-content);
    opacity: .5
  }
}

@keyframes spin {
  to {
    content: var(--tw-content);
    transform: rotate(360deg)
  }
}

.cpa9v::before {
  content: var(--tw-content);
  animation: spin 3s linear infinite
}

.cynyd::before {
  content: var(--tw-content);
  border-radius: inherit
}

.ck41d::before {
  content: var(--tw-content);
  border-radius: 9999px
}

.cpous::before {
  content: var(--tw-content);
  border-width: 1px
}

.cgkcp::before {
  content: var(--tw-content);
  border-top-width: 1px;
  border-bottom-width: 1px
}

.cdol0::before {
  content: var(--tw-content);
  border-color: rgb(55 65 81/0.05)
}

.cv5x1::before {
  content: var(--tw-content);
  border-color: transparent
}

.cwsa9::before {
  content: var(--tw-content);
  background-color: rgb(229 231 235/0.6)
}

.cet77::before {
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.cihmh::before {
  content: var(--tw-content);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #3b82f6 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.ckmxx::before {
  content: var(--tw-content);
  background: conic-gradient(from 180deg, transparent, #3b82f6) border-box
}

.csw7z::before {
  content: var(--tw-content);
  -o-border-image: linear-gradient(to right, transparent, rgb(203 213 225/.8), transparent)1;
  border-image: linear-gradient(to right, transparent, rgb(203 213 225/.8), transparent)1
}

.cnpw6::before {
  content: var(--tw-content);
  -webkit-mask-composite: xor !important;
  mask-composite: exclude !important
}

.cab6c::before {
  content: var(--tw-content);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: linear-gradient(to bottom, black, transparent)
}

.cdouf::before {
  content: var(--tw-content);
  -webkit-mask: linear-gradient(white 0 0) padding-box, linear-gradient(white 0 0);
  mask: linear-gradient(white 0 0) padding-box, linear-gradient(white 0 0)
}

.c2np1:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.cdnfp:hover {
  background-size: 100% 150%
}

.codvp:hover .cvsu8 {
  --tw-translate-x: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@supports (overflow:clip) {
  .cuwej {
    overflow: clip
  }
}

@media (min-width:640px) {

  .cg07b {
    margin-bottom: 0px
  }

  .c2mml {
    margin-left: 1rem
  }

  .cdj6q {
    display: flex
  }

  .c8slg {
    width: auto
  }

  .citj5 {
    max-width: none
  }

  .c0ix1 {
    justify-content: center
  }

  .cx5hs {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

.c9f55 {
  @apply !text-5xl relative z-10;
}

@media (min-width:768px) {

  .ce84p {
    padding-bottom: 4rem
  }

  .ccd2c {
    padding-bottom: 5rem
  }

  .c71n8 {
    padding-top: 10rem
  }

  .c9f55 {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.037em
  }
}
